<h1>Panel administrativo</h1>
<h3>Usuarios</h3>
<div class="row">
  <div class="col">
      <button type="button" class="btn btn-secondary" (click)="user()">Listar / Editar / Eliminar</button>
    </div>
  <div class="col">
    <button type="button" class="btn btn-primary">Crear</button>
  </div>
</div>
<h3>Mascotas</h3>
<div class="row">
  <div class="col">
      <button type="button" class="btn btn-secondary" (click)="pet()">Listar / Editar / Eliminar</button>
    </div>
  <div class="col">
    <button type="button" class="btn btn-primary">Crear</button>
  </div>
</div>
<h3>Razas</h3>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-secondary" (click)="Breed()">Listar / Editar / Eliminar</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary">Crear</button>
  </div>
</div>
<h3>Especies</h3>
<div class="row">
  <div class="col">
      <button type="button" class="btn btn-secondary" (click)="specie()">Listar / Editar / Eliminar</button>
    </div>
  <div class="col">
    <button type="button" class="btn btn-primary">Crear</button>
  </div>
</div>

