<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>QR Pets</h2>
            <hr>
            <p>Es una plataforma orientada a proveer una herramienta eficiente para los dueños de mascotas, aquí podrás
                registrar tus mascotas obteniendo para cada una de ellas un código QR único
                con el cual podras verificar los datos de tu mascota.<br><br>

                Buscamos ofrecer una forma sencilla y eficiente de mantener el contacto en forma real sin exponer tus
                datos todo el tiempo.<br><br>

                Puedes imprimir el código QR generado en la plataforma y colocarlo en el collar de tu perro sin gastos
                extras.<br><br>

                En caso de que tu mascota se pierda, solo debes ingresar al sitio y marcarla como perdida,
                automáticamente se habilitará a tu mascota para obtener tus datos de contacto a partir del código QR en
                su collar.
            </p>            
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr>
            <address>
                <strong>Start Bootstrap</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">name@example.com</a>
            </address>
        </div>
        <div class="col-md-8 mb-5">
            <h2>QR Pets - Adopciones</h2>
            <hr>
            <p>¿Estás buscando compañia? <br><br>
              Con QR Pets - Adopciones podes encontrar tu compañero ideal en tu ciudad, aquella mascota que está deseosa de tener un hogar contigo.
            </p>            
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque sequi doloribus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

