<div class="row">
    <div class="span6">
        <h2>Registro</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Nombre es requerido</div>
                    <div *ngIf="f.name.errors.minlength">Nombre debe contener 6 caracteres mínimo</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.minlength">Nombre de usuario debe contener 6 caracteres mínimo
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password debe contener 6 caracteres mínimo</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email debe ser una dirección válida</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Register</button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>
    <div class="span6">
        <h2>Términos y condiciones</h2>
        <p>Una vez que tengamos términos y condiciones</p>
    </div>
</div>